.Input {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px lightgray;
  &_Text {
    min-height: 20px;
  }
  &_Select {
    background-color: white;
    width: 189px;
    min-height: 32px;
  }
  &--label {
    font-size: 14px;
    display: block;
    margin: 0px 0px 5px 2px;
  }
  &--error {
    padding-left: 5px;
    font-size: 11px;
    color: #ff0000;
  }
  &--error-field {
    border: solid 1px #ff0000;
  }
}

.Button {
  margin: 12px 2px;
  display: block;
  border-radius: 2px;
  padding: 8px 20px;
  font-size: 14px;
  background-color: white;
  color: #0096ff;
  cursor: pointer;
  border: none;

  &_Icon {
    font-size: 20px;
    padding: 8px;
    margin: 2px 12px 2px 2px;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #eaeaea;
      border-radius: 2px;
    }
  }

  &_Primary {
    background-color: #0096ff;
    color: white;
  }

  &_Danger {
    color: #f58a8a !important;
  }

  &_Link {
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &:hover {
    color: inherit;
  }
}
