.Input {
  display: flex;
  flex-direction: column;
  margin-right: 12px;

  &_Field {
    margin-top: 8px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    height: 32px;
    border-radius: 2px;
    padding: 4px 8px;
    min-width: 200px;

    &__Error {
      border: solid 1px #ff0000;
    }
  }

  &_Select {
    min-height: 42px;
  }

  &_Error {
    padding-left: 4px;
    font-size: 12px;
    color: #ff0000;
    height: 14px;
  }
}

.Button {
  margin: 12px 2px;
  display: block;
  border-radius: 2px;
  padding: 8px 20px;
  font-size: 14px;
  background-color: white;
  color: #0096ff;
  cursor: pointer;
  border: none;

  &_Icon {
    font-size: 20px;
    padding: 8px;
    margin: 2px 12px 2px 2px;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: #eaeaea;
      border-radius: 2px;
    }
  }

  &_Primary {
    background-color: #0096ff;
    color: white;
  }

  &_Danger {
    color: #f58a8a !important;
  }

  &_Link {
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &:hover {
    color: inherit;
  }
}
