@mixin container {
  border: 1px solid #eaeaea;
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
  border-spacing: 0;
}

.Missions {
  padding: 20px;

  &_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &_Table {
    @include container;

    & thead {
      background-color: #eaeaea;

      & th {
        text-align: left;
        padding: 8px 20px;
      }
    }

    & tbody {
      & td {
        vertical-align: middle;
        padding: 12px 20px;
        border-bottom: 1px solid #eaeaea;
      }
    }

    &__Actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__depart {
      color: #7491f0;
    }

    &__departed {
      color: #f07474;
    }

    &__Empty {
      padding: 40px 0 !important;
      text-align: center;
    }

    &__Search {
      padding: 12px;
      border-radius: 2px;
      border: solid 1px #8a8a8a;
    }
  }
}

.MissionsForm {
  padding: 20px;

  &_Inputs {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
  }

  &_Actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &_Members {
    @include container;
    width: auto;
    padding: 0 20px;
    background-color: #fafafa;

    &__Item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      border-bottom: solid 1px #eaeaea;

      &-Delete {
        margin-top: 16px;
      }
    }
  }
}
