.Missions {
  padding: 20px;

  &_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &_Table {
    border-collapse: separate;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 14px;
    width: 100%;
    border-spacing: 0;

    & thead {
      background-color: #eaeaea;

      & th {
        text-align: left;
        padding: 8px 20px;
      }
    }

    & tbody {
      & td {
        vertical-align: middle;
        padding: 12px 20px;
        border-bottom: 1px solid #eaeaea;
      }
    }

    &__Actions {
      display: flex;
      flex-direction: row;
      justify-content: end;
    }

    &__depart {
      color: #7491f0;
    }

    &__departed {
      color: #f07474;
    }

    &__Empty {
      padding: 40px 0 !important;
      text-align: center;
    }

    &__Search {
      padding: 12px;
      border-radius: 2px;
      border: solid 1px #8a8a8a;
    }
  }
}

.Mission {
  padding: 20px;

  &_Title {
    font-size: large;
    padding-bottom: 1%;
    border-bottom: solid 1px lightgray;
  }

  &_FirstRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
  }

  &_Members {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
    border-bottom: solid 1px lightgray;
    &--card {
      padding: 0% 2%;
      background-color: #faf4f4;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }
  }

  &_Actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &--fields {
    margin-bottom: 14px;
    padding-right: 2vmin;
  }
}
