.Missions {
  &_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vmin 0;
  }
  &--departure {
    font-style: italic;
    &_departed {
      color: lightcoral;
    }
  }
  &_Actions {
    display: flex;
    flex-direction: row;
  }
}

.Mission {
  &_Title {
    font-size: large;
    padding-bottom: 1%;
    border-bottom: solid 1px lightgray;
  }
  &_FirstRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
  }
  &_Members {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
    border-bottom: solid 1px lightgray;
    &--card {
      padding: 0% 2%;
      background-color: #faf4f4;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }
  }
  &_Actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  &--fields {
    padding-right: 2vmin;
  }
}

.MissionList {
  border-collapse: separate;
  border: solid lightgray 1px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;

  thead {
    border-radius: 6px;
    background-color: #f2f2f2;
  }

  input {
    padding: 6px;
    border-radius: 6px;
    border: solid 1px lightgray;
  }

  th,
  td {
    vertical-align: middle;
    border-bottom: solid lightgray 1px;
    padding: 4px;

    p {
      margin: 4px;
    }
  }
}
